<div class="contact">
    <img class="contact-img" src="/assets/images/contact/thumb.jpeg">

    <div class="contact-block">
        <div class="contact-block-regular">
            <span>Name</span>
            <span style="padding-left: 1.5rem;">INPUTS</span>
        </div>
    
        <div class="contact-block-regular">
            <span>Name</span>
            <span style="padding-left: 1.5rem;">INPUTS</span>
        </div>
    
        <div class="contact-block-large">
            <div>Message</div>
            <div>Input</div>
        </div>
        
        <button type="submit" class="contact-btn">Send Message</button>
    </div>
</div>