<footer>
    <div class="gallery">
        <img src="/assets/images/home/lab.jpg">
        <img src="/assets/images/home/lab2.jpg">
        <img src="/assets/images/home/lab3.jpg">
        <img src="/assets/images/home/lab4.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="join">
                    <img src="/assets/images/home/join.png" id="join-logo">
                    <div>
                        <h2>Join Us</h2>
                        <p>We're always looking for more talented, passionate people</p>
                        <a href="https://github.com/Team-Ryu">
                            <div>
                                <img src="/assets/images/home/github.png">
                                <p>
                                    https://github.com/Team-Ryu
                                </p>
                            </div>
                        </a>
                        <div>
                            <img src="/assets/images/home/envelop.png">
                            <p>CILab at gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sitemap">
            <p>2022 @ CILab</p>
        </div>
    </div>
</footer>