<footer>
    <div class="gallery">
        <img src="/assets/images/home/lab.png">
        <img src="/assets/images/home/lab2.png">
        <img src="/assets/images/home/lab3.png">
        <img src="/assets/images/home/lab4.png">
    </div>
    <div class="container border">
        <div class="row">
            <div class="col">
                <div class="join">
                    <img src="/assets/images/home/join.png" id="join-logo">
                    <div>
                        <h2>Join Us</h2>
                        <p>We're always looking for more talented, passionate people</p>
                        <div>
                            <img src="/assets/images/home/github.png">
                            <p>https://github.com/Team-Ryu</p>
                        </div>
                        <div>
                            <img src="/assets/images/home/envelop.png">
                            <p>CILab at gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sitemap">
            <p>Site Map</p>
        </div>
    </div>
</footer>