@import "utils";

$tag-color: #c460aa;

@include laptop{}

.publication{
    a{
        color: $text-color;
    }
    ul{
        list-style-type: none;
        padding: 0;
    }
    li{
        margin-bottom: 25px;
    }
    .pub-card{
        display: flex;
        border: 1px solid #DCDCDC ;
        justify-content: center;
        height: 100vh;
        align-items: center;
        border-radius: 20px;
        box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.03);
        padding: 20px;
        height: 300px;
        .pub-img{
            img{
                width:190px;
                height: 190px;
            }
        }
        .pub-content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                margin: 0;
            }
            margin: 10px 10px 0px 20px;
            .title{
                font-size: 18px;
                line-height: 1em;
                margin-bottom: 5px;
            }
            .info{
                font-size: 14px;
                color: $text-color-gray;
                font-weight: 300;
                margin-top: 10px;
                margin-bottom: 15px;
            }
            .contents{
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical; 
                text-overflow: ellipsis;
                line-height: 22px;
                text-align: justify;
                overflow: hidden;
                font-size: 13px;
                color: #84898c;
                margin-bottom: 15px;
            }
            .tag-div{
                align-items: flex-end;
            }
            .tag{
                padding: 5px 8px 5px 8px;
                margin-right: 10px;
                border: 0.5px solid $tag-color;
                border-radius: 9px;
                font-size: 13px;
                color: $tag-color;
            }
        }
        .pub-icon{
            display: flex;
            flex-direction: column;
            padding: 15px;
            .icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 94px;
                height: 54px;
                border-radius: 8px;
                span{
                    height: 25px;
                    font-size: 13px;
                    margin-left: 5px;
                }
            }
        }
    }
}