<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home-intro">
                    <div class="home-intro-left">
                        <div>
                            <img src="/assets/images/home/main_picture.png">
                        </div>
                    </div>
                    <div class="home-intro-right">
                        <h1> We're Computer Vision Research Group </h1>
                        <p> Our teams are innovating at the cutting edge of computer vision fields in order to tackle challenges and build products that impact billons of people every day. </p> 
                        <button>Join Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

